## [DeepPheWAS](https://richard-packer.github.io/DeepPheWAS_site/) is not producing anything - which might be due to incorrect input data format

### Environment to run was set up like this:

conda create -n DeepPheWAS r-base r-essentials -y  
source ~/anaconda3/etc/profile.d/conda.sh  
conda activate DeepPheWAS  

install.packages("devtools")  
install.packages("docopt")  
devtools::install_github("Richard-Packer/DeepPheWAS")

### this is where all the test data and stuff is:  
/home/fs71407/epiwielsch/anaconda3/envs/DeepPheWAS/lib/R/library/DeepPheWAS/extdata/  
including a "worked_example" which we will use as template to adjust the input data gathered from UKB-RAP

* __KING_coef.csv:__ looks the same
* __participant data:__ pre-processing (DeepPheWAS script 1) did not produce any errors so we assume that is alright. 
* everyting else shows small differences

### GP clinical data:

### this is how the test data look like:
eid,provider,event_dt,read_2,read_3,value1,value2,value3  
1015169,3,06/03/2009,,X00DW,,,  
1082913,3,31/01/2008,,XaRCF,,,  
1073450,3,02/10/2012,,XaRCF,,,  
1037203,3,27/08/2014,,XE0VK,,,  
1086257,3,25/02/2000,,XaRCF,,,  
1087798,3,22/03/2008,,F4236,,,  
1021413,3,06/10/2013,,X00DW,,,  
1018711,3,05/10/2010,,XaRCF,,,  
1040624,3,15/03/1997,,X00DW,,, 
### this is how the actual data look like:  
eid,data_provider,event_dt,read_2,read_3,value1,value2,value3  
3494780,3,2001-07-11,,XE2JU,,,  
2954119,3,2005-02-08,,XaF6J,,,  
5510024,3,2015-05-12,,42N..,0.400,,  
2136270,3,2014-03-26,,XaFsp,,,  
3060439,3,2008-04-16,,2469.,174.000,,  
2364530,3,2001-07-11,,6799.,,,  
5245103,3,2009-09-08,,XE2px,353.000,,  
4527735,3,2013-10-17,,XE2pb,31.200,,  
4093888,3,2014-01-15,,X77Wg,0.000,,

In [18]:
library(lubridate)
library(data.table)

real.dat=c("/gpfs/data/fs71407/magdazeb/application/ukb-structure/application/exploratory_analysis/PheWAS/data/unzipped/")
test.dat=c("/gpfs/data/fs71407/magdazeb/application/ukb-structure/application/exploratory_analysis/PheWAS/DeepPheWAS/worked_example/unzipped/")
#gp.test=as.data.table(fread(paste0(test.dat,"GPC.csv")))
#gp.dat=as.data.table(fread(paste0(real.dat,"gp_clinical_data.csv")))

In [11]:
##-- looks like value 1 should be numeric
gp.dat$value1=as.numeric(as.character(gp.dat$value1))
## all other columns only hold NA ---------- so I will set them to NA for the PHEWAS as well

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

In [21]:
gp.dat=gp.dat[,c(1:8)]

In [25]:
#gp.dat$read_2=NA
#gp.dat$read_2=as.logical(gp.dat$read_2)
gp.dat$value2=NA
gp.dat$value2=as.logical(gp.dat$value2)
gp.dat$value3=NA
gp.dat$value3=as.logical(gp.dat$value3)

In [26]:
head(gp.test)
head(gp.dat)

  eid     provider event_dt   read_2 read_3 value1 value2 value3
1 1015169 3        06/03/2009 NA     X00DW  NA     NA     NA
2 1082913 3        31/01/2008 NA     XaRCF  NA     NA     NA
3 1073450 3        02/10/2012 NA     XaRCF  NA     NA     NA
4 1037203 3        27/08/2014 NA     XE0VK  NA     NA     NA
5 1086257 3        25/02/2000 NA     XaRCF  NA     NA     NA
6 1087798 3        22/03/2008 NA     F4236  NA     NA     NA

  eid     data_provider event_dt   read_2 read_3 value1 value2 value3
1 3494780 3             2001-07-11 NA     XE2JU     NA  NA     NA
2 2954119 3             2005-02-08 NA     XaF6J     NA  NA     NA
3 5510024 3             2015-05-12 NA     42N..    0.4  NA     NA
4 2136270 3             2014-03-26 NA     XaFsp     NA  NA     NA
5 3060439 3             2008-04-16 NA     2469.  174.0  NA     NA
6 2364530 3             2001-07-11 NA     6799.     NA  NA     NA

In [27]:
## fix date
gp.dat$event_dt=as.character(format(as.Date(gp.dat$event_dt, format="%Y-%m-%d"), "%d/%m/%Y"))
colnames(gp.dat)[2]=c("provider")

In [29]:
## identcal at last 
head(gp.test)
head(gp.dat)

  eid     provider event_dt   read_2 read_3 value1 value2 value3
1 1015169 3        06/03/2009 NA     X00DW  NA     NA     NA
2 1082913 3        31/01/2008 NA     XaRCF  NA     NA     NA
3 1073450 3        02/10/2012 NA     XaRCF  NA     NA     NA
4 1037203 3        27/08/2014 NA     XE0VK  NA     NA     NA
5 1086257 3        25/02/2000 NA     XaRCF  NA     NA     NA
6 1087798 3        22/03/2008 NA     F4236  NA     NA     NA

  eid     provider event_dt   read_2 read_3 value1 value2 value3
1 3494780 3        11/07/2001 NA     XE2JU     NA  NA     NA
2 2954119 3        08/02/2005 NA     XaF6J     NA  NA     NA
3 5510024 3        12/05/2015 NA     42N..    0.4  NA     NA
4 2136270 3        26/03/2014 NA     XaFsp     NA  NA     NA
5 3060439 3        16/04/2008 NA     2469.  174.0  NA     NA
6 2364530 3        11/07/2001 NA     6799.     NA  NA     NA

### GP (primary care) prescription data:

### there is no example in the toy data of DeepPheWAS. 

### this is how the actual data look like:  
eid,data_provider,issue_date,read_2,bnf_code,dmd_code,drug_name,quantity  
2904360,3,2001-11-08,,04.07.02.00.00,,Kapake 30mg/500mg tablets (Galen Ltd),100 tablet(s)  
2082995,4,2011-12-28,blf2.,,,,  
4854973,3,2015-11-24,,03.01.01.03.00,,Ventolin 100micrograms/dose Evohaler (GlaxoSmithKline UK Ltd),400 dose  
1497257,2,2006-12-29,,0501030I0AAABAB,,DOXYCYCLINE CAPSULES 100MG,8.000  
2499633,1,2016-06-14,bu51.00,,319799004,Clopidogrel 75mg tablets,28.000  
5026326,1,2004-05-18,bu23.00,,319773006,ASPIRIN disp tab 75mg,28.000  
4995855,4,2013-08-13,ja2i.,,,,  
2596913,4,2002-04-10,a6b1.,,,,

In [10]:
gp.sc.dat=as.data.table(fread(paste0(real.dat,"gp_script_data.csv")))

Warning message in fread(paste0(real.dat, "gp_script_data.csv")):
“Found and resolved improper quoting out-of-sample. First healed line 89832: <<5897608,3,2005-06-30,,14.04.21.00.00,,Typherix 25micrograms/0.5ml vaccine solution for injection pre-filled syringes (GlaxoSmithKline UK Ltd),"1 - 0.5ml pre-filled syringe+ 23G 1\"& 25G 5/8\" needles">>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning.”

In [11]:
head(gp.sc.dat)

  eid     data_provider issue_date read_2  bnf_code        dmd_code
1 2904360 3             2001-11-08         04.07.02.00.00         NA
2 2082995 4             2011-12-28 blf2.                          NA
3 4854973 3             2015-11-24         03.01.01.03.00         NA
4 1497257 2             2006-12-29         0501030I0AAABAB        NA
5 2499633 1             2016-06-14 bu51.00                 319799004
6 5026326 1             2004-05-18 bu23.00                 319773006
  drug_name                                                     quantity
1 Kapake 30mg/500mg tablets (Galen Ltd)                         100 tablet(s)
2
3 Ventolin 100micrograms/dose Evohaler (GlaxoSmithKline UK Ltd) 400 dose
4 DOXYCYCLINE CAPSULES 100MG                                    8.000
5 Clopidogrel 75mg tablets                                      28.000
6 ASPIRIN disp tab 75mg                                         28.000

In [12]:
gp.sc.dat$issue_date=as.character(format(as.Date(gp.sc.dat$issue_date, format="%Y-%m-%d"), "%d/%m/%Y"))
head(gp.sc.dat)

  eid     data_provider issue_date read_2  bnf_code        dmd_code
1 2904360 3             08/11/2001         04.07.02.00.00         NA
2 2082995 4             28/12/2011 blf2.                          NA
3 4854973 3             24/11/2015         03.01.01.03.00         NA
4 1497257 2             29/12/2006         0501030I0AAABAB        NA
5 2499633 1             14/06/2016 bu51.00                 319799004
6 5026326 1             18/05/2004 bu23.00                 319773006
  drug_name                                                     quantity
1 Kapake 30mg/500mg tablets (Galen Ltd)                         100 tablet(s)
2
3 Ventolin 100micrograms/dose Evohaler (GlaxoSmithKline UK Ltd) 400 dose
4 DOXYCYCLINE CAPSULES 100MG                                    8.000
5 Clopidogrel 75mg tablets                                      28.000
6 ASPIRIN disp tab 75mg                                         28.000

In [13]:
fwrite(gp.sc.dat,paste0(real.dat,"gp_script_data_harmonized.csv"),quote=FALSE)

##  hesin_data

### this is how the test data look like:  

eid,ins_index,epistart,admidate  
1000001,1,13/04/1997,13/04/1997  
1000002,1,19/06/2003,19/06/2003  
1000003,1,24/02/2010,24/02/2010  
1000004,1,04/03/2008,04/03/2008  
1000005,1,27/10/2013,27/10/2013  
1000006,1,25/03/1997,25/03/1997  
1000007,1,18/07/2004,18/07/2004  

### this is how the actual data look like: 

nx_hesin_id,eid,ins_index,epiorder,spell_index,spell_seq,spelbgin,spelend,speldur,pctcode,gpprpct,category,elecdate,dsource,elecdur,admidate,admimeth_uni,admimeth,admisorc_uni,admisorc,firstreg,classpat_uni,classpat,intmanag_uni,source,intmanag,mainspef_uni,mainspef,tretspef_uni,tretspef,operstat,disdate,dismeth_uni,dismeth,disdest_uni,epistart,disdest,carersi,epiend,epidur,bedyear,epistat,epitype,dateepiimp  
1841490-17,1841490,17,1,14,0,2,Y,1,5HQ,5HQ,,,HES,,2009-04-23,2001,21,1000,19,,1000,1,800,6,8,1310,300,1490,300,8,2009-04-24,1000,1,1000,2009-04-23,19,2,2009-04-24,1,1,3,1,2009-04-23  
4629180-105,4629180,105,1,96,0,2,Y,0,5NR,5NR,,2013-06-18,HES,,2013-06-18,1003,13,1000,19,,2000,2,200,18,2,1130,303,1220,303,1,2013-06-18,1000,1,1000,2013-06-18,19,2,2013-06-18,0,0,3,1,2013-06-18  
5754953-32,5754953,32,1,31,0,2,Y,0,5C3,5C3,,,HES,,2021-02-18,1003,13,1000,19,,1000,1,100,71,1,1460,370,1750,370,1,2021-02-18,1000,1,1000,2021-02-18,19,2,2021-02-18,0,0,3,1,2021-02-18  
5838717-0,5838717,0,1,0,0,2,Y,0,,5CL,10,1996-12-19,HES,139,1997-05-07,1001,11,1000,19,,2000,2,200,6,2,1840,110,2580,110,,1997-05-07,1000,1,1000,1997-05-07,19,99,1997-05-07,0,0,3,1,1997-05-07  
5278826-19,5278826,19,3,13,2,0,N,,5PJ,5PJ,,,HES,,2017-12-12,2001,21,1000,19,,1000,1,800,70,8,1011,326,1490,300,8,,4000,8,11000,2017-12-13,98,99,2017-12-13,0,0,3,1,2017-12-13

In [33]:
hesin.test=as.data.table(fread(paste0(test.dat,"hesin.csv")))
hesin.dat=as.data.table(fread(paste0(real.dat,"hesin_data.csv")))

In [37]:
dim(hesin.dat)
dim(hesin.test)
colnames(hesin.dat)
colnames(hesin.test)

[1] 4237639      44

[1] 100000      4

 [1] "dnx_hesin_id" "eid"          "ins_index"    "epiorder"     "spell_index"
 [6] "spell_seq"    "spelbgin"     "spelend"      "speldur"      "pctcode"
[11] "gpprpct"      "category"     "elecdate"     "dsource"      "elecdur"
[16] "admidate"     "admimeth_uni" "admimeth"     "admisorc_uni" "admisorc"
[21] "firstreg"     "classpat_uni" "classpat"     "intmanag_uni" "source"
[26] "intmanag"     "mainspef_uni" "mainspef"     "tretspef_uni" "tretspef"
[31] "operstat"     "disdate"      "dismeth_uni"  "dismeth"      "disdest_uni"
[36] "epistart"     "disdest"      "carersi"      "epiend"       "epidur"
[41] "bedyear"      "epistat"      "epitype"      "dateepiimp"

[1] "eid"       "ins_index" "epistart"  "admidate"

In [38]:
hesin.dat_1=hesin.dat[,c('eid','ins_index','epistart','admidate')]

In [40]:
head(hesin.test)
head(hesin.dat_1)

  eid     ins_index epistart   admidate
1 1000001 1         13/04/1997 13/04/1997
2 1000002 1         19/06/2003 19/06/2003
3 1000003 1         24/02/2010 24/02/2010
4 1000004 1         04/03/2008 04/03/2008
5 1000005 1         27/10/2013 27/10/2013
6 1000006 1         25/03/1997 25/03/1997

  eid     ins_index epistart   admidate
1 1841490  17       2009-04-23 2009-04-23
2 4629180 105       2013-06-18 2013-06-18
3 5754953  32       2021-02-18 2021-02-18
4 5838717   0       1997-05-07 1997-05-07
5 5278826  19       2017-12-13 2017-12-12
6 1301640  15       2002-01-24 <NA>

In [41]:
hesin.dat_1$epistart=as.character(format(as.Date(hesin.dat_1$epistart, format="%Y-%m-%d"), "%d/%m/%Y"))
hesin.dat_1$admidate=as.character(format(as.Date(hesin.dat_1$admidate, format="%Y-%m-%d"), "%d/%m/%Y"))

In [42]:
head(hesin.dat_1)

  eid     ins_index epistart   admidate
1 1841490  17       23/04/2009 23/04/2009
2 4629180 105       18/06/2013 18/06/2013
3 5754953  32       18/02/2021 18/02/2021
4 5838717   0       07/05/1997 07/05/1997
5 5278826  19       13/12/2017 12/12/2017
6 1301640  15       24/01/2002 NA

In [43]:
fwrite(gp.dat,paste0(real.dat,"hesin_data_harmonized.csv"),quote=FALSE)

##  HES DIAG

### this is how the test data look like:  
eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb  
1000001,1,0,2,,,X506,  
1000002,1,2,3,,,Z641,  
1000003,1,2,1,,,Z443,  
1000004,1,0,1,,,P544,  
1000005,1,1,1,,,M871,  
1000006,1,0,1,,,S119,  
1000007,1,0,2,,,M0608,  
1000008,1,3,3,,,M2591,  
1000009,1,1,2,,,T66,  
  
### this is how the actual data look like: 
dnx_hesin_diag_id,dnx_hesin_id,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb  
1582101-0-0,1582101-0,1582101,0,0,1,,,D140,  
1608773-9-2,1608773-9,1608773,9,2,2,,,Z800,  
6001729-4-8,6001729-4,6001729,4,8,2,,,N183,  
4368516-17-11,4368516-17,4368516,17,11,2,,,Z888,  
2005154-42-1,2005154-42,2005154,42,1,2,,,M059,  
5649606-4-8,5649606-4,5649606,4,8,2,,,R001,  
2235016-4-2,2235016-4,2235016,4,2,2,,,Z901,  
1427128-27-3,1427128-27,1427128,27,3,2,,,I209,  
1597828-3-1,1597828-3,1597828,3,1,2,,,H353,

In [2]:
hes_diag.test=as.data.table(fread(paste0(test.dat,"HES_Diag.csv")))
hes_diag.dat=as.data.table(fread(paste0(real.dat,"hesin_diag_data.csv")))

In [4]:
dim(hes_diag.test)
dim(hes_diag.dat)
hes_diag.dat_1=hes_diag.dat[,3:ncol(hes_diag.dat)]

[1] 168000      8

[1] 17492107       10

In [5]:
head(hes_diag.test)
head(hes_diag.dat_1)

  eid     ins_index arr_index level diag_icd9 diag_icd9_nb diag_icd10
1 1000001 1         0         2     NA        NA           X506
2 1000002 1         2         3     NA        NA           Z641
3 1000003 1         2         1     NA        NA           Z443
4 1000004 1         0         1     NA        NA           P544
5 1000005 1         1         1     NA        NA           M871
6 1000006 1         0         1     NA        NA           S119
  diag_icd10_nb
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

  eid     ins_index arr_index level diag_icd9 diag_icd9_nb diag_icd10
1 1582101  0         0        1               NA           D140
2 1608773  9         2        2               NA           Z800
3 6001729  4         8        2               NA           N183
4 4368516 17        11        2               NA           Z888
5 2005154 42         1        2               NA           M059
6 5649606  4         8        2               NA           R001
  diag_icd10_nb
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [11]:
table(hes_diag.dat_1$diag_icd9 != "")

   FALSE     TRUE
17418800    73307

In [10]:
head(hes_diag.dat_1)

  eid     ins_index arr_index level diag_icd9 diag_icd9_nb diag_icd10
1 1582101  0         0        1               NA           D140
2 1608773  9         2        2               NA           Z800
3 6001729  4         8        2               NA           N183
4 4368516 17        11        2               NA           Z888
5 2005154 42         1        2               NA           M059
6 5649606  4         8        2               NA           R001
  diag_icd10_nb
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

##  HES OPER

### there is no example in the toy data of DeepPheWAS. 

### this is how the actual data look like:  
dnx_hesin_oper_id,dnx_hesin_id,eid,ins_index,preopdur,arr_index,level,opdate,oper3,oper3_nb,oper4,oper4_nb,posopdur  
5943461-4-0,5943461-4,5943461,4,0,0,1,2015-12-04,,,W822,,0  
2737240-12-8,2737240-12,2737240,12,,8,2,2016-02-26,,,K634,,  
2144453-4-14,2144453-4,2144453,4,,14,2,2016-09-27,,,E492,,  
1130149-0-2,1130149-0,1130149,0,,2,2,2011-09-01,,,Y819,,  
5378562-0-4,5378562-0,5378562,0,,4,2,2014-01-29,,,Y767,,  
4844568-6-0,4844568-6,4844568,6,,0,1,,,,X998,,  
2771898-46-2,2771898-46,2771898,46,,2,2,2015-09-17,,,X292,,  
3197112-23-2,3197112-23,3197112,23,,2,2,2017-04-12,,,Z246,,  
4246416-1-0,4246416-1,4246416,1,0,0,1,2013-02-16,,,G451,,0

In [5]:
hes_oper.dat=as.data.table(fread(paste0(real.dat,"hesin_oper_data.csv")))

In [6]:
hes_oper.dat=hes_oper.dat[,3:ncol(hes_oper.dat)]
head(hes_oper.dat)

  eid     ins_index preopdur arr_index level opdate     oper3 oper3_nb oper4
1 5943461  4         0        0        1     2015-12-04 NA    NA       W822
2 2737240 12        NA        8        2     2016-02-26 NA    NA       K634
3 2144453  4        NA       14        2     2016-09-27 NA    NA       E492
4 1130149  0        NA        2        2     2011-09-01 NA    NA       Y819
5 5378562  0        NA        4        2     2014-01-29 NA    NA       Y767
6 4844568  6        NA        0        1     <NA>       NA    NA       X998
  oper4_nb posopdur
1 NA        0
2 NA       NA
3 NA       NA
4 NA       NA
5 NA       NA
6 NA       NA

In [8]:
hes_oper.dat$opdate=as.character(format(as.Date(hes_oper.dat$opdate, format="%Y-%m-%d"), "%d/%m/%Y"))
head(hes_oper.dat)

  eid     ins_index preopdur arr_index level opdate     oper3 oper3_nb oper4
1 5943461  4         0        0        1     04/12/2015 NA    NA       W822
2 2737240 12        NA        8        2     26/02/2016 NA    NA       K634
3 2144453  4        NA       14        2     27/09/2016 NA    NA       E492
4 1130149  0        NA        2        2     01/09/2011 NA    NA       Y819
5 5378562  0        NA        4        2     29/01/2014 NA    NA       Y767
6 4844568  6        NA        0        1     NA         NA    NA       X998
  oper4_nb posopdur
1 NA        0
2 NA       NA
3 NA       NA
4 NA       NA
5 NA       NA
6 NA       NA

In [9]:
fwrite(hes_oper.dat,paste0(real.dat,"hesin_oper_data_harmonized.csv"),quote=FALSE)

##  DEATH DATE

### this is how the test data look like: 
eid,ins_index,dsource,source,date_of_death  
1021852,2,E/W,1,30-10-2012  
1050078,2,E/W,1,13-03-2016  
1041913,2,E/W,2,03-07-2011  
1002034,2,E/W,1,03-02-2013  
1062852,2,SCOT,53,08-04-2017 
1065876,2,E/W,2,05-09-2012  

### this is how the actual data look like: 
dnx_death_id,eid,ins_index,dsource,source,date_of_death  
2157403-0,2157403,0,E/W,2,2018-01-02  
4092977-0,4092977,0,E/W,2,2019-07-25  
5965774-0,5965774,0,E/W,52,2021-02-02  
5868877-0,5868877,0,E/W,2,2013-09-24  
4221402-0,4221402,0,E/W,52,2022-02-03  
3497637-0,3497637,0,E/W,2,2019-09-06  
4494159-0,4494159,0,SCOT,19,2009-04-05  
3645894-0,3645894,0,E/W,52,2022-07-25  
3613617-0,3613617,0,E/W,2,2016-05-02

In [15]:
death_date.test=as.data.table(fread(paste0(test.dat,"death_date.csv")))
death_date.dat=as.data.table(fread(paste0(real.dat,"death_data.csv")))

In [17]:
head(death_date.test)
death_date.dat=death_date.dat[,2:ncol(death_date.dat)]
head(death_date.dat)

  eid     ins_index dsource source date_of_death
1 1021852 2         E/W      1     30-10-2012
2 1050078 2         E/W      1     13-03-2016
3 1041913 2         E/W      2     03-07-2011
4 1002034 2         E/W      1     03-02-2013
5 1062852 2         SCOT    53     08-04-2017
6 1065876 2         E/W      2     05-09-2012

  eid     ins_index dsource source date_of_death
1 2157403 0         E/W      2     2018-01-02
2 4092977 0         E/W      2     2019-07-25
3 5965774 0         E/W     52     2021-02-02
4 5868877 0         E/W      2     2013-09-24
5 4221402 0         E/W     52     2022-02-03
6 3497637 0         E/W      2     2019-09-06

In [18]:
death_date.dat$date_of_death <- as.character(format(as.Date(death_date.dat$date_of_death, format="%Y-%m-%d"), "%d-%m-%Y"))

In [19]:
head(death_date.dat)

  eid     ins_index dsource source date_of_death
1 2157403 0         E/W      2     02-01-2018
2 4092977 0         E/W      2     25-07-2019
3 5965774 0         E/W     52     02-02-2021
4 5868877 0         E/W      2     24-09-2013
5 4221402 0         E/W     52     03-02-2022
6 3497637 0         E/W      2     06-09-2019

In [20]:
fwrite(death_date.dat,paste0(real.dat,"death_data_harmonized.csv"),quote=FALSE)

##  DEATH CAUSE

### this is how the test data look like:  
eid,ins_index,arr_index,level,cause_icd10  
1021852,2,0,1,S522  
1050078,2,1,2,I212  
1041913,2,1,1,G418  
1002034,2,4,2,C18  
  
### this is how the actual data look like:  
dnx_death_cause_id,dnx_death_id,eid,ins_index,arr_index,level,cause_icd10  
5835211-0-4,5835211-0,5835211,0,4,2,I38  
3572587-0-1,3572587-0,3572587,0,1,2,F03  
2096707-0-0,2096707-0,2096707,0,0,1,U071

In [21]:
death.test=as.data.table(fread(paste0(test.dat,"death.csv")))
death.dat=as.data.table(fread(paste0(real.dat,"death_cause_data.csv")))

In [24]:
head(death.test)
death.dat=death.dat[,3:ncol(death.dat)]
head(death.dat)

  eid     ins_index arr_index level cause_icd10
1 1021852 2         0         1     S522
2 1050078 2         1         2     I212
3 1041913 2         1         1     G418
4 1002034 2         4         2     C18
5 1062852 2         1         2     D692
6 1065876 2         0         2     M819

  eid     ins_index arr_index level cause_icd10
1 5835211 0         4         2     I38
2 3572587 0         1         2     F03
3 2096707 0         0         1     U071
4 4439082 0         1         2     R58
5 5214480 0         0         1     I608
6 4909349 0         3         2     C787

In [25]:
fwrite(death.dat,paste0(real.dat,"death_cause_data_harmonized.csv"),quote=FALSE)

##  Participant data

We will extract exact the columns from the participant data set to match the test data set provided by DeepPheWAS

In [ ]:
part.test=as.data.frame(fread(paste0(test.dat,"ukb_data.csv")))
part.dat=as.data.frame(fread(paste0(real.dat,"data_ukbformat_rawcode.tsv")))

Warning message in fread(paste0(real.dat, "data_ukbformat_rawcode.tsv")):
“Found and resolved improper quoting out-of-sample. First healed line 34827: <<2225190	1		1		1	1950			24				24		84.0		89.0		106.0		97.0		174.0		172.0		2	2007-05-14		2023-07-02		11002		11026		-1.4																																																																																																																																																																																		51	53			60	59			9			177500			533500			0		0		0		3		0		0		2		3				4		3		2				40				5				3				1				1				1							0		1				10		5		3		70		15		1		3		55		80		2		2		2		2				3				4												2				4		3		3		3		2		-10		>>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning.”

In [ ]:
fields1 = as.data.frame(fread(paste0(real.dat,"fields-minimum.txt")))

In [ ]:
fields <- as.character(fields1$V1)  # Convert field names to character
# Extract column names from UKB dataset
ukb_colnames <- colnames(part.dat)
# Identify all matching columns that contain the field numbers
matching_cols <- ukb_colnames[grepl(paste0("^(", paste(fields, collapse = "|"), ")-"), ukb_colnames)]
# Print the extracted column names
head(matching_cols)

In [ ]:
part.dat1=part.dat[,c("eid",matching_cols)]
dim(part.dat)
dim(part.dat1)

In [ ]:
head(part.dat1[,grepl("20002",as.character(colnames(part.dat1)))])

In [16]:
### date columns used in analysis: 40005 20010 20008 
head(part.dat1[,grepl("40005",as.character(colnames(part.dat1)))]) ## that is already in right format
head(part.dat1[,grepl("20010",as.character(colnames(part.dat1)))])
head(part.dat1[,grepl("20008",as.character(colnames(part.dat1)))])

  40005-0.0  40005-1.0  40005-2.0  40005-3.0 40005-4.0 40005-5.0 40005-6.0
1 <NA>       <NA>       <NA>       <NA>      <NA>      <NA>      <NA>
2 1991-06-27 1991-06-27 <NA>       <NA>      <NA>      <NA>      <NA>
3 2012-01-23 2013-01-23 2013-06-14 <NA>      <NA>      <NA>      <NA>
4 <NA>       <NA>       <NA>       <NA>      <NA>      <NA>      <NA>
5 <NA>       <NA>       <NA>       <NA>      <NA>      <NA>      <NA>
6 <NA>       <NA>       <NA>       <NA>      <NA>      <NA>      <NA>
  40005-7.0 40005-8.0 40005-9.0 ⋯ 40005-12.0 40005-13.0 40005-14.0 40005-15.0
1 <NA>      <NA>      <NA>      ⋯ <NA>       <NA>       <NA>       <NA>
2 <NA>      <NA>      <NA>      ⋯ <NA>       <NA>       <NA>       <NA>
3 <NA>      <NA>      <NA>      ⋯ <NA>       <NA>       <NA>       <NA>
4 <NA>      <NA>      <NA>      ⋯ <NA>       <NA>       <NA>       <NA>
5 <NA>      <NA>      <NA>      ⋯ <NA>       <NA>       <NA>       <NA>
6 <NA>      <NA>      <NA>      ⋯ <NA>       <NA>       <NA>       <NA>
  40005-16.0 40005-17.0 40005-18.0 40005-19.0 40005-20.0 40005-21.0
1 <NA>       <NA>       <NA>       <NA>       <NA>       <NA>
2 <NA>       <NA>       <NA>       <NA>       <NA>       <NA>
3 <NA>       <NA>       <NA>       <NA>       <NA>       <NA>
4 <NA>       <NA>       <NA>       <NA>       <NA>       <NA>
5 <NA>       <NA>       <NA>       <NA>       <NA>       <NA>
6 <NA>       <NA>       <NA>       <NA>       <NA>       <NA>

  20010-0.0 20010-0.1 20010-0.2 20010-0.3 20010-0.4 20010-0.5 20010-0.6
1 2002.5        NA        NA        NA        NA        NA    NA
2 1991.5    1997.5        NA        NA        NA        NA    NA
3 1984.5        NA        NA        NA        NA        NA    NA
4 1989.1    1974.5        NA        NA        NA        NA    NA
5 1979.7    1970.7    1978.7    2006.7    1952.7    1973.7    NA
6     NA        NA        NA        NA        NA        NA    NA
  20010-0.7 20010-0.8 20010-0.9 ⋯ 20010-3.22 20010-3.23 20010-3.24 20010-3.25
1 NA        NA        NA        ⋯ NA         NA         NA         NA
2 NA        NA        NA        ⋯ NA         NA         NA         NA
3 NA        NA        NA        ⋯ NA         NA         NA         NA
4 NA        NA        NA        ⋯ NA         NA         NA         NA
5 NA        NA        NA        ⋯ NA         NA         NA         NA
6 NA        NA        NA        ⋯ NA         NA         NA         NA
  20010-3.26 20010-3.27 20010-3.28 20010-3.29 20010-3.30 20010-3.31
1 NA         NA         NA         NA         NA         NA
2 NA         NA         NA         NA         NA         NA
3 NA         NA         NA         NA         NA         NA
4 NA         NA         NA         NA         NA         NA
5 NA         NA         NA         NA         NA         NA
6 NA         NA         NA         NA         NA         NA

  20008-0.0 20008-0.1 20008-0.2 20008-0.3 20008-0.4 20008-0.5 20008-0.6
1 1995.5    2007.5    2000.5    NA        NA        NA        NA
2 1954.0    2004.5        NA    NA        NA        NA        NA
3     NA        NA        NA    NA        NA        NA        NA
4 2008.1    2007.5        NA    NA        NA        NA        NA
5 2005.7    1975.7    2005.7    NA        NA        NA        NA
6 1993.9        NA        NA    NA        NA        NA        NA
  20008-0.7 20008-0.8 20008-0.9 ⋯ 20008-3.24 20008-3.25 20008-3.26 20008-3.27
1 NA        NA        NA        ⋯ NA         NA         NA         NA
2 NA        NA        NA        ⋯ NA         NA         NA         NA
3 NA        NA        NA        ⋯ NA         NA         NA         NA
4 NA        NA        NA        ⋯ NA         NA         NA         NA
5 NA        NA        NA        ⋯ NA         NA         NA         NA
6 NA        NA        NA        ⋯ NA         NA         NA         NA
  20008-3.28 20008-3.29 20008-3.30 20008-3.31 20008-3.32 20008-3.33
1 NA         NA         NA         NA         NA         NA
2 NA         NA         NA         NA         NA         NA
3 NA         NA         NA         NA         NA         NA
4 NA         NA         NA         NA         NA         NA
5 NA         NA         NA         NA         NA         NA
6 NA         NA         NA         NA         NA         NA

In [28]:

# Function to convert decimal year to "YYYY-MM-15" format (Vectorized)
convert_decimal_to_date <- function(decimal_year) {
  # Ensure numeric conversion
  decimal_year <- as.numeric(decimal_year)
  
  # Handle missing values and avoid the "length > 1" error
  year <- floor(decimal_year)  # Extract the year
  month <- floor((decimal_year - year) * 12) + 1  # Convert decimal to month
  
  # Ensure month is between 1 and 12
  month[month > 12] <- 12  
  month[month < 1] <- 1  

  # Format as "YYYY-MM-15"
  result <- as.Date(paste(year, month, 15, sep = "-"), format = "%Y-%m-%d")
  
  # Ensure NA values remain NA
  result[is.na(decimal_year)] <- NA
  
  return(result)
}

# Extract columns containing "20010"
decimal_dates <- part.dat1[, grepl("20010", colnames(part.dat1)), drop = FALSE]

# Apply function to the entire dataframe (Vectorized with lapply)
part.dat1[, grepl("20010", colnames(part.dat1))] <- 
  as.data.frame(lapply(decimal_dates, convert_decimal_to_date))

# Print to check output
print(part.dat1)

In [29]:
# Extract columns containing "20010"
decimal_dates <- part.dat1[, grepl("20010", colnames(part.dat1)), drop = FALSE]

# Apply function to the entire dataframe (Vectorized with lapply)
part.dat1[, grepl("20010", colnames(part.dat1))] <- 
  as.data.frame(lapply(decimal_dates, convert_decimal_to_date))

ERROR: Error in if (is.na(decimal_year)) return(NA): the condition has length > 1

In [4]:
table(colnames(part.test) %in% colnames(part.dat))
table(colnames(part.dat) %in% colnames(part.test))

TRUE
  23

FALSE  TRUE
 7751    23

In [8]:
table(grepl("20002", as.character(colnames(part.dat)) ))
colnames(part.dat)[grepl("20002", as.character(colnames(part.dat)) ) ]
table(grepl("20008", as.character(colnames(part.dat)) ))

FALSE  TRUE
 7638   136

  [1] "20002-0.0"  "20002-0.1"  "20002-0.2"  "20002-0.3"  "20002-0.4"
  [6] "20002-0.5"  "20002-0.6"  "20002-0.7"  "20002-0.8"  "20002-0.9"
 [11] "20002-0.10" "20002-0.11" "20002-0.12" "20002-0.13" "20002-0.14"
 [16] "20002-0.15" "20002-0.16" "20002-0.17" "20002-0.18" "20002-0.19"
 [21] "20002-0.20" "20002-0.21" "20002-0.22" "20002-0.23" "20002-0.24"
 [26] "20002-0.25" "20002-0.26" "20002-0.27" "20002-0.28" "20002-0.29"
 [31] "20002-0.30" "20002-0.31" "20002-0.32" "20002-0.33" "20002-1.0"
 [36] "20002-1.1"  "20002-1.2"  "20002-1.3"  "20002-1.4"  "20002-1.5"
 [41] "20002-1.6"  "20002-1.7"  "20002-1.8"  "20002-1.9"  "20002-1.10"
 [46] "20002-1.11" "20002-1.12" "20002-1.13" "20002-1.14" "20002-1.15"
 [51] "20002-1.16" "20002-1.17" "20002-1.18" "20002-1.19" "20002-1.20"
 [56] "20002-1.21" "20002-1.22" "20002-1.23" "20002-1.24" "20002-1.25"
 [61] "20002-1.26" "20002-1.27" "20002-1.28" "20002-1.29" "20002-1.30"
 [66] "20002-1.31" "20002-1.32" "20002-1.33" "20002-2.0"  "20002-2.1"
 [71] "20002-2.2"  "20002-2.3"  "20002-2.4"  "20002-2.5"  "20002-2.6"
 [76] "20002-2.7"  "20002-2.8"  "20002-2.9"  "20002-2.10" "20002-2.11"
 [81] "20002-2.12" "20002-2.13" "20002-2.14" "20002-2.15" "20002-2.16"
 [86] "20002-2.17" "20002-2.18" "20002-2.19" "20002-2.20" "20002-2.21"
 [91] "20002-2.22" "20002-2.23" "20002-2.24" "20002-2.25" "20002-2.26"
 [96] "20002-2.27" "20002-2.28" "20002-2.29" "20002-2.30" "20002-2.31"
[101] "20002-2.32" "20002-2.33" "20002-3.0"  "20002-3.1"  "20002-3.2"
[106] "20002-3.3"  "20002-3.4"  "20002-3.5"  "20002-3.6"  "20002-3.7"
[111] "20002-3.8"  "20002-3.9"  "20002-3.10" "20002-3.11" "20002-3.12"
[116] "20002-3.13" "20002-3.14" "20002-3.15" "20002-3.16" "20002-3.17"
[121] "20002-3.18" "20002-3.19" "20002-3.20" "20002-3.21" "20002-3.22"
[126] "20002-3.23" "20002-3.24" "20002-3.25" "20002-3.26" "20002-3.27"
[131] "20002-3.28" "20002-3.29" "20002-3.30" "20002-3.31" "20002-3.32"
[136] "20002-3.33"

FALSE  TRUE
 7638   136

In [9]:
table(grepl("20004", as.character(colnames(part.dat)) ))
colnames(part.dat)[grepl("20004", as.character(colnames(part.dat)) ) ]
table(grepl("20010", as.character(colnames(part.dat)) ))

FALSE  TRUE
 7646   128

  [1] "20004-0.0"  "20004-0.1"  "20004-0.2"  "20004-0.3"  "20004-0.4"
  [6] "20004-0.5"  "20004-0.6"  "20004-0.7"  "20004-0.8"  "20004-0.9"
 [11] "20004-0.10" "20004-0.11" "20004-0.12" "20004-0.13" "20004-0.14"
 [16] "20004-0.15" "20004-0.16" "20004-0.17" "20004-0.18" "20004-0.19"
 [21] "20004-0.20" "20004-0.21" "20004-0.22" "20004-0.23" "20004-0.24"
 [26] "20004-0.25" "20004-0.26" "20004-0.27" "20004-0.28" "20004-0.29"
 [31] "20004-0.30" "20004-0.31" "20004-1.0"  "20004-1.1"  "20004-1.2"
 [36] "20004-1.3"  "20004-1.4"  "20004-1.5"  "20004-1.6"  "20004-1.7"
 [41] "20004-1.8"  "20004-1.9"  "20004-1.10" "20004-1.11" "20004-1.12"
 [46] "20004-1.13" "20004-1.14" "20004-1.15" "20004-1.16" "20004-1.17"
 [51] "20004-1.18" "20004-1.19" "20004-1.20" "20004-1.21" "20004-1.22"
 [56] "20004-1.23" "20004-1.24" "20004-1.25" "20004-1.26" "20004-1.27"
 [61] "20004-1.28" "20004-1.29" "20004-1.30" "20004-1.31" "20004-2.0"
 [66] "20004-2.1"  "20004-2.2"  "20004-2.3"  "20004-2.4"  "20004-2.5"
 [71] "20004-2.6"  "20004-2.7"  "20004-2.8"  "20004-2.9"  "20004-2.10"
 [76] "20004-2.11" "20004-2.12" "20004-2.13" "20004-2.14" "20004-2.15"
 [81] "20004-2.16" "20004-2.17" "20004-2.18" "20004-2.19" "20004-2.20"
 [86] "20004-2.21" "20004-2.22" "20004-2.23" "20004-2.24" "20004-2.25"
 [91] "20004-2.26" "20004-2.27" "20004-2.28" "20004-2.29" "20004-2.30"
 [96] "20004-2.31" "20004-3.0"  "20004-3.1"  "20004-3.2"  "20004-3.3"
[101] "20004-3.4"  "20004-3.5"  "20004-3.6"  "20004-3.7"  "20004-3.8"
[106] "20004-3.9"  "20004-3.10" "20004-3.11" "20004-3.12" "20004-3.13"
[111] "20004-3.14" "20004-3.15" "20004-3.16" "20004-3.17" "20004-3.18"
[116] "20004-3.19" "20004-3.20" "20004-3.21" "20004-3.22" "20004-3.23"
[121] "20004-3.24" "20004-3.25" "20004-3.26" "20004-3.27" "20004-3.28"
[126] "20004-3.29" "20004-3.30" "20004-3.31"

FALSE  TRUE
 7646   128

In [11]:
table(grepl("40006", as.character(colnames(part.dat)) ))
colnames(part.dat)[grepl("40006", as.character(colnames(part.dat)) ) ]
table(grepl("40005", as.character(colnames(part.dat)) ))

FALSE  TRUE
 7752    22

 [1] "40006-0.0"  "40006-1.0"  "40006-2.0"  "40006-3.0"  "40006-4.0"
 [6] "40006-5.0"  "40006-6.0"  "40006-7.0"  "40006-8.0"  "40006-9.0"
[11] "40006-10.0" "40006-11.0" "40006-12.0" "40006-13.0" "40006-14.0"
[16] "40006-15.0" "40006-16.0" "40006-17.0" "40006-18.0" "40006-19.0"
[21] "40006-20.0" "40006-21.0"

FALSE  TRUE
 7752    22

In [6]:
part.dat1=part.dat[ ,colnames(part.dat) %in% colnames(part.test) ]
dim(part.dat1)

[1] 502129     23

In [10]:
head(part.test)
head(part.dat1)

  eid     31-0.0 21003-0.0 22005-0.0   53-0.0     50-0.0   52-0.0 34-0.0
1 1000001 0      60        0.003577114 2015-02-09 169.1036  1     1955
2 1000002 1      47        0.012960416 2014-02-21 168.5991  2     1967
3 1000003 1      38        0.004846039 2012-12-21 167.7028 12     1974
4 1000004 0      46        0.006967736 2012-08-04 168.8793  7     1966
5 1000005 0      38        0.009034879 2014-07-03 168.9272  6     1976
6 1000006 1      54        0.004537561 2008-11-13 167.5200 10     1954
  1160-0.0 30610-0.0 ⋯ 46-0.0    47-0.0   20002-0.0 20002-0.1 20107-0.0
1 5.810891 68.43995  ⋯ 20.384584 33.07789 NA        NA        13
2 6.657919 80.42478  ⋯  8.733926 33.86323 NA        NA        11
3 8.229226 65.56658  ⋯ 24.034409 31.75600 NA        NA        13
4 8.463743 47.01853  ⋯ 20.065313 24.18522 NA        NA        13
5 8.868979 65.77410  ⋯ 36.107429 26.47897 NA        NA        13
6 6.226986 85.12344  ⋯ 28.109331 36.42582 NA        NA        13
  20110-0.0 20111-0.0 22001-0.0 20008-0.1 20008-0.0
1 13        13        0         <NA>      <NA>
2 13        13        1         <NA>      <NA>
3 13        13        1         <NA>      <NA>
4 13        13        0         <NA>      <NA>
5 13        13        0         <NA>      <NA>
6 13        13        1         <NA>      <NA>

  eid     31-0.0 21003-0.0 22005-0.0 53-0.0     50-0.0 52-0.0   34-0.0 1160-0.0
1 3952092 Female 50        0.0007972 2007-11-28 155.0  February 1957   5
2 5818448 Female 64        0.0009259 2009-05-21 168.0  August   1944   7
3 2164290 Female 48        0.0016360 2007-04-25 162.0  October  1958   7
4 5265627 Male   57        0.0007840 2009-10-17 174.0  January  1952   7
5 5125613 Male   45        0.0114300 2009-04-28 169.0  February 1964   7
6 4432726 Female 50        0.0020910 2008-04-04 165.5  June     1957   4
  30610-0.0 ⋯ 46-0.0 47-0.0 20002-0.0                           20002-0.1
1  60.3     ⋯ 16     24     hypertension                        osteoarthritis
2 122.6     ⋯ 28     28     muscle/soft tissue problem
3  91.5     ⋯ 22     24
4  66.0     ⋯ 26     30     stroke                              hypertension
5  84.4     ⋯ 44     44
6  88.6     ⋯ 28     30     diverticular disease/diverticulitis
  20107-0.0
1 Severe depression|Chronic bronchitis/emphysema|Stroke
2 Diabetes|None of the above (group 2)
3 Diabetes|High blood pressure|None of the above (group 2)
4 Lung cancer|None of the above (group 1)
5 Parkinson's disease|High blood pressure
6 None of the above (group 1)|None of the above (group 2)
  20110-0.0
1 Do not know (group 1)|Do not know (group 2)
2 Alzheimer's disease/dementia|None of the above (group 2)
3 High blood pressure|None of the above (group 2)
4 Diabetes|Heart disease|None of the above (group 2)
5 None of the above (group 1)|None of the above (group 2)
6 None of the above (group 1)|None of the above (group 2)
  20111-0.0                                               22001-0.0 20008-0.1
1 Heart disease|None of the above (group 2)               Female    1997.5
2 Heart disease|None of the above (group 2)               Female        NA
3 None of the above (group 1)|None of the above (group 2) Female        NA
4 None of the above (group 1)|None of the above (group 2) Male      2008.5
5                                                         Male          NA
6 None of the above (group 1)|None of the above (group 2) Female        NA
  20008-0.0
1 2005.6
2 2009.2
3     NA
4 2008.5
5     NA
6 2004.5

In [12]:
fwrite(part.dat1,paste0(real.dat,"participant_data_harmonized_START.csv"),quote=FALSE)

### participant data restrict approach

In [20]:
part.test=as.data.frame(fread(paste0(test.dat,"ukb_data.csv")))
part.dat=as.data.frame(fread(paste0(real.dat,"participant_data_harmonized_START.csv")))

In [21]:
part.dat1=part.dat[ ,colnames(part.dat) %in% colnames(part.test) ]
dim(part.dat1)
dim(part.dat)

[1] 502129     23

[1] 502129   1082

In [22]:
fwrite(part.dat1,paste0(real.dat,"participant_data_harmonized_SHORT.csv"),quote=FALSE)

In [23]:
colnames(part.test)

 [1] "eid"       "31-0.0"    "21003-0.0" "22005-0.0" "53-0.0"    "50-0.0"
 [7] "52-0.0"    "34-0.0"    "1160-0.0"  "30610-0.0" "30690-0.0" "30720-0.0"
[13] "30890-0.0" "46-0.0"    "47-0.0"    "20002-0.0" "20002-0.1" "20107-0.0"
[19] "20110-0.0" "20111-0.0" "22001-0.0" "20008-0.1" "20008-0.0"

In [ ]:
## there are still issues withn character vectros after script on - so i will remove all character vectors except 40006
# - because they are supposed to be character vectors i think

[1] "6138-0.0"   "6138-1.0"   "6138-2.0"   "6138-3.0"   "6159-0.0"  
 [6] "6159-1.0"   "6159-2.0"   "6159-3.0"   "20107-0.0"  "20107-1.0" 
[11] "20107-2.0"  "20107-3.0"  "20110-0.0"  "20110-1.0"  "20110-2.0" 
[16] "20110-3.0"  "20111-0.0"  "20111-1.0"  "20111-2.0"  "20111-3.0" 
[21] "30505-0.0"  "30505-1.0"  "30515-0.0"  "30525-0.0"  "30525-1.0" 
[26] "30535-0.0"  "30535-1.0"  "40006-0.0"  "40006-1.0"  "40006-2.0" 
[31] "40006-3.0"  "40006-4.0"  "40006-5.0"  "40006-6.0"  "40006-7.0" 
[36] "40006-8.0"  "40006-9.0"  "40006-10.0" "40006-11.0" "40006-12.0"
[41] "40006-13.0" "40006-14.0" "40006-15.0" "40006-16.0" "40006-17.0"
[46] "40006-18.0" "40006-19.0" "40006-20.0" "40006-21.0"

In [ ]:
write.table(dat1,file="min_tab_v2",row.names=F,quote=F, col.names=T,sep="\t")